/* === COLUMN CONTAINER === */
.column {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  border-right: var(--border-gray) 1px solid;
  position: relative;
  width: 20rem;
  z-index: 10;
}

.minimizedColumn {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  border-right: var(--border-gray) 1px solid;
  position: relative;
  width: 4rem;
  z-index: 10;
}

.minimizedColumn .linkTitle {
  display: none;
}
.minimizedColumn .linkListTitle,
.minimizedColumn .linkListHeader img {
  display: none;
}
.minimizedColumn .linkListHeader {
  justify-content: center;
  flex-direction: column;
}

/* === LINK LIST CONTAINER === */
.linkListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.5rem;
}

/* === LINK LIST HEADER === */
.linkListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.75rem;
  margin-bottom: 1rem;

  font-size: larger;
}

.panelLeft {
  stroke: var(--murk);
  stroke-width: 3px;
}

/* === LINK ITEMS === */
.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 0.45rem;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: transparent;
  color: #818182;

  width: 100%;
  cursor: pointer;
}

.link p {
  margin-left: 1rem;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 0.5rem;
}

.activeLink {
  border-radius: 0.5rem;
  background-color: var(--murk) !important;
  color: white !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.iconWrapper {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.linkImg {
  width: 24px;
  height: 24px;
  border-radius: 0.25rem;
  object-fit: cover;
}

.linkTitle {
  font-weight: 500;
}

.linkListTitle {
  font-weight: 500;
}

/* === CONTROLS === */
.toggles {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.toggleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  border: none;
}

.activeBtn {
  background-color: var(--murk) !important;
  color: white !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

@media screen and (max-width: 800px) {
  .column {
    width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--sand);
  }

  .minimizedColumn {
    position: fixed;
    top: 0;
    left: 0;
  }
}
