/* === COLUMN CONTAINER === */
.column {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  border-right: var(--border-gray) 1px solid;
  position: relative;
  width: 18rem;
  z-index: 1000;

  transition: width 0.1s ease-in-out;

  overflow: hidden;
  white-space: nowrap;

  /* Since column is flex item of #main it will shrink */
  flex-shrink: 0; /* Tell it to not shrink */
}

/* === Minimized Column === */
.minimizedColumn {
  width: 4rem;
}

.minimizedColumn .linkListHeader {
  flex-direction: row;
  justify-content: center;
}

.minimizedColumn .textLogo {
  display: none;
}

/* === LINK LIST CONTAINER === */
.linkListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.5rem;
}

/* === LINK LIST HEADER === */
.linkListHeader {
  height: 100%;
  min-height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.75rem;
  margin-bottom: 1rem;

  font-size: larger;
}

.textLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.panelIconWrapper {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.panelLeft {
  stroke: var(--murk);
  stroke-width: 3px;
}

.panelIconWrapper .panelLeft {
  box-sizing: border-box;
}

.panelIconWrapper:hover {
  background-color: var(--murk);
}
.panelIconWrapper:hover .panelLeft {
  stroke: white;
  stroke-width: 3px;
}

/* === LINK ITEMS === */
.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 0.45rem;
  font-weight: 500;
  transition: all 0.3s ease;
  background-color: transparent;
  color: #818182;

  width: 100%;
  cursor: pointer;
}

.link p {
  margin-left: 1rem;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 0.5rem;
}

.activeLink {
  border-radius: 0.2rem;
  background-color: var(--murk) !important;
  color: white !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

.iconWrapper {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.linkImg {
  width: 24px;
  height: 24px;
  border-radius: 0.25rem;
  object-fit: cover;
}

.linkTitle {
  font-weight: 500;
}

.linkListTitle {
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .column {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--sand);
  }
  .minimizedColumn {
    width: 0;
    border: none;
    overflow: hidden;
    padding: 0;
  }
  .minimizedColumn .linkListHeader .panelIconWrapper {
    position: fixed;
    top: 10px;
    left: 10px;
  }
  .minimizedColumn .link {
    display: none;
  }
}
