/* === ABOUT PAGE - MAIN CONTAINER === */
.content {
  background-color: var(--sand);
  height: 100%;
  padding: 4rem 4rem;
}

/* === ABOUT PAGE - TITLES === */
.title {
  font-size: 50px;
  text-align: left;
  font-weight: 600;
}

/* === ABOUT PAGE - BIO SECTION === */
.bio {
  margin: 0 0 2rem 0;
}

.bioCtn {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* === GALLERY COMPONENT === */
.galleryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.galleryCtn {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 700px;
  max-width: 1200px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.galleryCtn::-webkit-scrollbar {
  display: none;
}

.galleryPic {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 0.25rem;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.galleryPic:hover {
  transform: scale(1.02);
}

.chevron {
  background-color: var(--matte-black);
  border-radius: 1rem;
  transition: 0.5s ease transform;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chevron:hover {
  transform: scale(1.1);
}

.chevronLeft {
  padding: 0.5rem 0.5rem 0.5rem 0.4rem;
}

.chevronRight {
  padding: 0.5rem 0.4rem 0.5rem 0.5rem;
}
