/* === MUSIC CARD CONTAINER === */
.musicCard {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--sand);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  gap: 0.8rem;
}

@media screen and (max-width: 800px) {
  .musicCard {
    display: none;
  }
}

/* === MUSIC INFO & COVER === */
.musicInfo {
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
}

.musicCover {
  width: 64px;
  height: 64px;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.musicText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.musicTitle {
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.musicArtist {
  font-size: 0.8rem;
  font-weight: 550;
  color: grey;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* === MUSIC CONTROLS === */
.musicControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.musicBtn {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--black);
  transition: transform 0.2s ease;
}

.musicBtn:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.05);
}

.playBtn {
  width: 40px;
  height: 40px;
  color: var(--white);
  background-color: var(--dark-murk);
}

.playBtn:hover {
  background-color: var(--dark-murk);
  color: white;
}

.skipBtn {
  width: 40px;
  height: 40px;
  color: var(--murk);
}

/* === PROGRESS BAR === */
.progressWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.barFull {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--murk);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.barFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background-color: rgb(255, 128, 0);
  transition: width 0.1s linear;
  border-radius: 4px;
}

.progressTimes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.progressTimes span {
  font-size: 0.75rem;
  color: grey;
  font-variant-numeric: tabular-nums;
}
